.form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white; 
    border-radius: 4px;
    box-shadow: 24px 24px 24px rgba(0, 0, 0, 0.2); /* Это пример, отредактируйте по нужному эффекту */
    padding: 16px 24px; 

    &:focus-visible {
        outline: none;
    }
}

.title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.wrapper {
    display: flex;
    justify-content: end;
    margin-top: 20px;
}