.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.title {
    font-weight: 400;
    font-size: 20px;
}

.rate {
    font-weight: 400;
    font-size: 14px;
    color: #00000099;
}